html, body { 
  margin: 0;
  height: 100%;
  font-family: 'Raleway', sans-serif;
  scroll-behavior: smooth;
  /*padding-bottom: 70vh;*/
  /*overflow-x: hidden;*/
}
/* La gestion de la clé caché pour la chasse au trésor*/
/*Des variables que le JS definira et qui serviront pour la classe "cachée" de la clé*/
:root {
  /*La position de la clé quand caché, là d'ou elle doit partir quand trouvée*/
  --hiddenKeyLeft: 0px;
  --hiddenKeyTop:0px;
}

#keysprite{
  position: fixed;
  height:4.2vw;
  width: auto;
  right:1vw;
  top:2vw;
  left:auto;
  transition: all 2s ease;
  z-index: 999;
  pointer-events: none;
}


/*La clé caché, invisible, minuscule, postée "sur la lettre" qui la revelera*/
#keysprite.hidden{
  position: fixed;
  right:var(--hiddenKeyRight);
  top:var(--hiddenKeyTop);
  height: 0px;
  transition: none;
}

/*L'endroit ou y'as le coffre etc.*/
.treasureTrove{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
}

/*Le coffre*/
#treasureChest{
  width:30%;
  height: auto;
  transition: all 0.5s ease;
  pointer-events: all;
}

/*Ce qui gere le balancement de droite a gauche du coffre le .hover qui est une classe que j'attribue en css remplace le :hover qui était buggé*/
#treasureChest.hover{
  transform: rotate(5deg);
}

#treasureChest.hover.left{
  transform: rotate(-5deg);
}

/*Le parchemin de l'indice*/
#clueScroll{
  background-image: url("img/scroll.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  /*Pour centrer le p au milieu*/
  margin-left: 5%;
  padding-right: 10%;
  padding-left: 10%;
  
  height:300%;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#clueScroll.hidden{
  display: none;
}

#clueScroll p{
  font-family: 'Architects Daughter', cursive;
  text-align: center;
  padding-bottom: 2%;
  color: rgba(0,0,0,0.8);
  text-shadow: 0 0 0.2em rgba(0,0,0,0.8);
}

/*Le panel caché qui controle les vagues*/
#hiddenPanel{
  width:75%;
  margin-left: 5%;
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 25px;
  background: #bdac78;
  border-radius: 0px;
  border: 5px solid #62542b;
  /*background-image: url("img/higherScroll.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% auto;
  height: 150%;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#hiddenPanel.hidden{
  display: none;
}

#hiddenPanel h3{
  font-family: 'Architects Daughter', cursive;
  color: rgba(36, 20, 6, 0.822);
  text-shadow: 0 0 0.2em rgba(36, 20, 6, 0.822);
}

/*Les sliders: copié collé de https://www.w3schools.com/howto/howto_js_rangeslider.asp*/
.slidecontainer{
  width:90%;
  margin-bottom: 5px;
}

.slider {
  -webkit-appearance: none;
  width: 100%;
  height: 5px;
  border-radius: 5px;  
  background: #62542b;
  outline: none;
  opacity: 1;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 10px;
  height: 10px;
  border-radius: 50%; 
  background: rgb(36, 20, 6);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: rgb(36, 20, 6);
  cursor: pointer;
}

/*Le menu pour naviguer*/
#menuFlipper{
  position:fixed;
  top:2vw;
  left: 1vw;
  height:4vw;
  width: auto;
  transform: rotate(-180deg);
  cursor: pointer;
  transition: all 0.5s ease;
}

#menuFlipper.flipped{
  transform: rotate(0deg);
}

#menu{
  position: fixed;
  display: flex;
  flex-direction: column;
  top: 7vw;
  /*background-color: brown;*/
  left: 0vw;
  z-index: 1000;
  transition: all 0.4s ease;
}

#menu.hidden{
  left: -100vw;
}

#menu a{
  margin-top: 2px;
  margin-left: 0px;
  margin-bottom: 2px;
}

#menu div{
  position: relative;
  margin-left: 0px;
  background-size: auto 100%;
  background-image: url("img/flag.png");
  background-repeat: no-repeat;
  background-position: right;
  transition: all 0.1s ease;
}

#menu div h2{
  display:flex;
  white-space: nowrap;
  font-size: medium;
  margin-left: 10%;
  padding-right: 3rem;
  padding-top: 0.3em;
  padding-bottom: 0.3em;
}

#menu div:hover{
  padding-left: 2vw;
}

canvas{
  position: absolute;
  height: auto;
  z-index: -1;
}

#mainCanva {
  /*width: 100%;
  height: 100%;*/
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  z-index: -9999;
  background-color: #2c5237;
}

/*On commence tout ce qui est grid etc. */
.container{
    display: grid;
    grid-template-columns: 12vw 1fr 1fr 1fr 1fr 1fr 12vw;
    grid-template-rows: auto;
    column-gap: 10px;
    row-gap: 100px;
    margin-top: 30px;
    grid-template-areas: 
      ". banner banner banner banner banner ."
      ". data data  about about about ."
      ". experiences experiences experiences skills skills ."
      ". education education education skills skills."
      ". pskills pskills pskills skills skills ."
      ". . chest chest chest . ."
      ". references references interests interests interests ."
      ". projects projects projects projects projects .";
}

/*On a un autre systeme de tableau si on a un écran/une fenetre petite*/
@media (max-width:60em),(max-width: 5in) {
  .container{
    grid-template-columns: 8vw 1fr 1fr 1fr 8vw;
    grid-template-areas: 
      ". banner banner banner ."
      ". data data data ."
      ". about about about ."
      ". experiences experiences experiences ."
      ". education education education ."
      ". pskills pskills pskills ."
      ". skills skills skills ."
      ". chest chest chest ."
      ". interests interests interests ."
      ". references references references ."
      ". projects projects projects .";
  }
}

/*Pour tout en bas, sert à avoir du vide pour pouvoir observer l'océan/toujours avec du contenu scrollable*/
.whitespace{
  width:100%;
  height: 70vh;
}

/*Les grosses colonnes avec toutes les planches*/
.woodboard{
  display: block;
  /*height: fit-content;*/
  position: relative;
  transition: all 0.5s ease;
  overflow-y:hidden;
  align-self: start;
  padding-right: 5%;
  padding-left: 5%;
  padding-top: 3%;
  padding-bottom: 4%;
  min-height: 3vw;
  /*background-color: rgba(255,0,0,0.5);*/
  color: rgba(240,240,240,0.9);
}

/*On fait la mini flexbox pour les personals data*/
.pdGrid{
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  row-gap: 5px;
}

/*Et la flexbox pour chaque data*/
.pdFlex{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.centeredElement{
  margin: auto;
  text-align: center;
}

.sectionTitle{
  margin-bottom: 2%;
  margin-left: 5px;
}

.background{
  position: relative;
  width: 100%;
  height: 100%;
  left: -100%;
  top:-100%;
  z-index: 1;
}

.pdFlex .icon{
  margin-right: 2%;
}

.icon{
  width: 100%;
  max-width: 40px;
  height: auto;
}

.mail{
  white-space: pre-line;
  word-break: break-all;
}

a{
  text-shadow: 0 0 0.2em rgba(0,0,0,0.6);
  color:rgba(0,0,0,0.5);
  text-decoration: none;
  margin-left:auto;
  margin-right: auto;
  margin:0 auto;
  font-weight: 800;
}

h2{
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
  text-shadow: 0 0 0.2em rgba(0,0,0,0.6);
  color:rgba(0,0,0,0.5);
  pointer-events: none;
}

h1{
  margin-top: 0px;
  margin-bottom: 0px;
  align-self: center;
  text-shadow: 0 0 0.2em rgba(0,0,0,0.6);
  color:rgba(0,0,0,0.5);
  pointer-events: none
  /*color:rgba(70, 149, 240,0.8);
  text-shadow: 0 0 0.2em rgba(70, 149, 240,0.9)*/
}

h3{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  font-weight: bold;
}

h4{
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-top: 0px;
  pointer-events: none;
}

p{
  margin-top: 0px;
  margin-bottom: 0px;
  text-align:justify;
  font-weight: normal;
  font-family: 'Nunito', sans-serif;
}

footer{
  padding-bottom: 4vh;
  text-align: center;
  font-weight: bold;
  color: rgba(240, 255, 255,0.7);
  text-shadow: 0 0 0.1em rgba(240, 255, 255,0.5);
}

.titleBoard{ /* les planches faites pour contenir un seul titre/text, comme le titre skills*/
  padding-top: 2%;
  padding-bottom: 2%;
  display:flex;
  flex-direction: column;
  align-self: stretch;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

/*Tout ce qui a attrait aux skill et projets*/
.sectionFlexbox{
  display:flex;
  flex-direction: column;
  justify-content: start;
}

.sectionBoard{
  align-self: stretch;
  align-items: center;
  margin-bottom: 30px;
}

.sectionBoard h3{
  pointer-events: none;
}

.skillbarAndName{
  width: fit-content;
  margin: auto;
  width: 90%;
}

/*Les barre de competence en particulier*/
.barBackground{
  background-color: #2c5237;
  width: 100%;
}

.barLevel{
  text-align: right;
	transition: all 0.5s ease;
	width: 0%;
	display: inline-block;
	background-color: rgba(68, 149, 242,0.7);
  box-shadow: 0 0 0.3em rgba(68, 149, 242,0.7);
  color: rgba(0,0,0,0.8);
}

/*Classes relatives aux projets*/
.description{
  margin-top: 1%;
  margin-bottom: 1%;
}

.flipper{ /*Le petit machin fleche qui sert a deployer/ranger le contenu*/
  width:2.5%;
  height:auto;
  position:absolute;
  top:2vw;
  left:2vw;
  transition: all 0.5s ease;
  pointer-events: none;
  transform:rotate(-180deg);
}

/*Classe nescessaire aux iframes responsives*/
/*Copié collé de https://stackoverflow.com/questions/17838607/making-an-iframe-responsive*/
.iframe-container {
  overflow: hidden;
  margin-top:2%;
  padding-top: 56.25%; /* 16:9 */
  position: relative;
} 

.iframe-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}

.hideIframes .iframe-container{
  display: none;
}

.hideIframes .description{
  display: none;
}

.hideIframes .flipper{
  transform:rotate(0deg);
}

.hideIframes .link{
  display: none;
}

#projects .woodboard{
  padding-top:1%;
  padding-bottom: 1%;
  margin-bottom: 2%;
  cursor: pointer;
}

#projects .woodboard.hideIframes{
  cursor: pointer;
}